<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>QR code App</title>
</head>
<body>
    <style>
        body{
         background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);;
        }
    </style>
    <div class="container">
        <h1>QR Code Generator</h1>
        <hr>
        <form action="/scan" method="post" class="form">
        <textarea name="text" id="text" cols="150" rows="10" placeholder="entre URL or Text"></textarea>
        <button type="submit" class="btn btn-primary" > Generate QR code </button>

        </form>
    </div>
</body>
</html>