<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>QR Code</title>
</head>
<body>
    <style>
        body{
            background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        }
    </style>
    <div class="container">
        <img src=<%= qr_code %> alt="QR code">
        <a href="/" role="button" class="btn btn-primary">back </a>
    </div>
</body>
</html>